adf/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy Institution",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "Id",
								"value": {
									"value": "@variables('BankGuidId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT Name, Id as ExternalId \nFROM dbo.Banks\nWHERE dbo.Banks.Id = '@{pipeline().parameters.BankId}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "Id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ExternalId",
									"type": "Int",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ExternalId",
									"type": "Int",
									"physicalType": "uniqueidentifier"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Banks",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Target_Institution",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BankAccounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Institution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "BankId",
								"value": {
									"value": "@variables('BankGuidId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT NEWID() as Id, AccountNumber, CurrentAmount, [Type], Id as ExternalId\nFROM dbo.BankAccounts\nWHERE dbo.BankAccounts.BankId = '@{pipeline().parameters.BankId}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_BankAccounts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Target_Accounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlDbcloudnative003",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DELETE FROM [dbo].[Institutions]\nDELETE FROM [dbo].[Accounts]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "BankGuidId",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BankId": {
				"type": "int",
				"defaultValue": 686824
			}
		},
		"variables": {
			"BankGuidId": {
				"type": "String",
				"defaultValue": "7458510f-95d7-4b52-a44b-ef2b9a43efbf"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-14T10:01:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}